<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Notifications
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Notifications</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    
    <ion-card-header>
      <ion-card-title> Notifications </ion-card-title>
    </ion-card-header>

    <ion-card-content *ngIf="getCurrent()===null">
      Please Sign In before viewing your Notifications
    </ion-card-content>
    <ion-card-content *ngIf="getCurrent()!==null">
      <ion-list *ngFor="let notif of notifs">
        <ion-item>
          <ion-avatar slot="start"><img src="{{notif.account.avatar}}"></ion-avatar>
          <ion-label> {{notif.type}} by {{notif.account.display_name}} </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
